{% extends "parts/base.html" %}
{% load static %}
{% block navi %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Baza książek</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/book/new">Dodaj Książkę</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/import">Import z Google API</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
