{% extends "parts/navi.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="col-6 mx-auto">
            <h2>Książka</h2>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>

    </div>
{% endblock %}