{% extends "parts/navi.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center row mt-5">
            <div class="col-8 my-auto"><h3>Wyszukaj książki</h3></div>
            <form action="/import" method="get" class="form-inline col-4 py-2 my-lg-0">
                <input class="form-control mr-sm-2" name="q" type="Szukaj" placeholder="Szukaj" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            </form>
            <table class="table">
                <tr>
                    <th class="col-3">Tytuł</th>
                    <th class="col-3">Autor</th>
                    <th class="col-2">Data publikacji</th>
                    <th class="col-1">Isbn</th>
                    <th class="col-1">Ilość stron</th>
                    <th class="col-1">Okladka</th>
                    <th class="col-1">Język</th>
                </tr>
                {% for book in response.items %}
                    <tr>
                        <td class="align-middle">
                            {{ book.volumeInfo.title }}
                        </td>
                        <td class="align-middle">
                            {% for author in book.volumeInfo.authors %}
                                {{ author }}
                            {% endfor %}
                        </td>
                        <td class="align-middle">
                            {{ book.volumeInfo.publishedDate }}
                        </td>
                        <td class="align-middle">
                            {% for industryIdentifier in book.volumeInfo.industryIdentifiers %}
                                {% if industryIdentifier.type == 'ISBN_10' %}
                                    {{ industryIdentifier.identifier }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="align-middle">
                            {{ book.volumeInfo.pageCount }}</td>
                        <td class="align-middle">
                            <img src=" {{ book.volumeInfo.imageLinks.smallThumbnail }}" style="height: 30px">
                        </td>
                        <td class="align-middle">
                            {{ book.volumeInfo.language }}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}
