{% extends "parts/navi.html" %}
{% load static %}

{% block content %}
    <div class="container w-100">
        <div class="text-center row mt-5">
            <div class="col-8 my-auto"><h3>Książki w bazie</h3></div>
            <form action="/book/search" method="get" class="form-inline col-4 py-2 my-lg-0">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Szukaj" aria-label="Szukaj">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            </form>


            <table class="table">
                <tr>
                    <th class="col-3">Tytuł</th>
                    <th class="col-3">Autor</th>
                    <th class="col-1">Data publikacji</th>
                    <th class="col-1">Isbn</th>
                    <th class="col-1">Ilość stron</th>
                    <th class="col-1">Okladka</th>
                    <th class="col-1">Język</th>
                    <th class="col-1">Opcje</th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td class="align-middle">
                            {{ book.title }}
                        </td>
                        <td class="align-middle">
                            {% if book.author %}
                                {{ book.author }}
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if book.publication_date %}
                                {{ book.publication_date|date:"Y" }}
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if book.isbn %}
                                {{ book.isbn }}
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if book.number_of_pages %}
                                {{ book.number_of_pages }}
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if book.cover_url %}
                                <img src="{{ book.cover_url }}" style="height: 50px">
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if book.language %}
                                {{ book.language }}
                            {% endif %}
                        </td>
                        <td class="row">
                            <a href="/book/{{ book.id }}/edit" class="col btn btn-outline-warning btn-sm">Edytuj</a>
                            <a href="/book/{{ book.id }}/delete" class="col btn btn-outline-danger btn-sm">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>


{% endblock %}
