{% extends "parts/navi.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center mt-5">
            <h1>A Bootstrap 5 Starter Template</h1>
            <p class="lead">A complete project boilerplate built with Bootstrap</p>
            <p>Bootstrap v5.1.0</p>


            <table class="table">
                <tr>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>Isbn</th>
                    <th>Ilość stron</th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.publication_date }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.number_of_pages }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}
